* {
  margin: 0;
padding: 0
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Dense;
  src: url('../fonts/Dense-Regular.otf');
}

@font-face {
  font-family: SanFranciscoDisplay;
  src: url('../fonts/SanFranciscoDisplay-Regular.otf');
}

@font-face {
  font-family: SanFranciscoDisplay-Bold;
  src: url('../fonts/SanFranciscoDisplay-Bold.ttf');
}

@font-face {
  font-family: Epicoff;
  src: url('../fonts/Epicoff-Regular.otf');
}

@font-face {
  font-family: Fold;
  src: url('../fonts/Degarism Studio - Fold-No.21-Mono.ttf');
}

@font-face {
  font-family: RobotoMono;
  src: url('../fonts/RobotoMono-Regular.ttf');
}

@font-face {
  font-family: Gilroy;
  src: url('../fonts/Gilroy-Light.otf');
}

::placeholder {
    color: #fff;
    opacity: 1;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  clear: both;
}

#main {
  background: url('../image/bg-traveler.jpg') center 205px no-repeat white;
}

#ads-top {
  margin: auto;
  width: 100%;
  height: 300px;
  text-align: center;
  background-color: #333333;
}

#ads-top img {
  margin: 25px 0;
}

#header {
  margin: auto;
  width: 1040px;
  height: 190px;
  text-align: center;
  padding: auto;
}

#header img {
  margin: 34px;
}

#navigation {
  margin: auto;
  width: 1036px;
  height: 48px;
  font-family: SanFranciscoDisplay-Bold;
  font-size: 16px;
  text-transform: uppercase;
  /*font-weight: bold;*/
  text-align: center;
  border: 2px #000 solid;
  background: #fff;
}

#navigation ul {
  height: 100%;
  display: inline-block;
  list-style: none;
  padding-top: 15px;
}

#navigation ul li {
  margin: auto 25px;
  display: inline-block;
}

#intro {
  margin: auto;
  margin-top: 4px;
  width: 1040px;
  height: 1053px;
}

#intro .plan {
  width: auto;
  height: auto;
  font-family: Epicoff;
  font-size: 118px;
  border: 2px #000 solid;
  border-bottom: 0px;
  background: #fff;
}

#intro .plan .content {
  padding: 42px 45px 0 45px;
}

#intro .plan .content .banner {
  text-transform: uppercase; 
  font-weight: bold;
}

#intro .plan .content .banner .arr {
  margin: 0px 22px 10px 22px;
}

#intro .plan .content .banner .plane {
  transform: translateX(100px);
}

#intro .plan .content .banner p {
  top: ;
  transform: rotate(270deg) translate(25px, 40px); 
  display: inline-block; 
  font-family: Fold; 
  font-size: 19px;
}

#intro .plan .content .aside {
  margin-top: 32px;
  width: 200px; 
  height: 220px; 
  background-color: #000; 
  position: relative; 
  padding: 30px 25px 30px 25px; 
  color: #fff; 
  float: left;
}

#intro .plan .content .aside .tem:before {
  content: "";
  width: 50px;
  height: 50px;
  background: #fff;
  position: absolute;
  bottom: 0;
  right: -1px;
  clip-path: polygon(0 100%, 100% 0, 100% 0, 100% 100%);
}

#intro .plan .content .aside .trieu {
  margin-top: -20px; 
  font-family: Fold; 
  /*text-transform: uppercase; */
  font-size: 34px;
}

#intro .plan .content .aside .tong {
  font-family: RobotoMono; 
  font-size: 22px; 
  margin-top: 15px;
}

#intro .plan .content .aside img {
  float: right;
  transform: rotate(270deg);
}

#intro .plan .content .main {
  height: 280px; 
  float: right; 
  margin-top: 32px; 
  position: relative;
}

#intro .plan .content .main .top {
  height: 80px; 
  width: 663px; 
  background-color: #fad123;
}

#intro .plan .content .main .top .cutm-name {
  width: 400px; 
  position: absolute; 
  font-size: 44px; 
  font-family: RobotoMono; 
  background-color: #fad123; 
  border: 0 #fff solid; 
  color: #fff; 
  padding: 11px 17px;
}

#intro .plan .content .main .top button {
  position: absolute; 
  right: 28px; 
  background-color: #000; 
  border: 0 #000 solid; 
  color: #fff;
  width: 106px; 
  height: 45px; 
  font-size: 36px; 
  font-family: Epicoff; 
  margin-top: 17px; 
  text-transform: uppercase;
}

#intro .plan .content .main .top .zizac {
  background: url('../image/zizac-ver.jpg'); 
  background-repeat: repeat-y; 
  position: absolute; 
  height: 80px; 
  width: 10px; 
  right: 0;
}

#intro .plan .content .main .left {
  display: inline-block; 
  width: 115px;
}

#intro .plan .content .main .left .dangki {
  margin-top: 10px; 
  font-family: Fold; 
  text-transform: uppercase; 
  font-size: 14px; 
  font-weight: bold;
}

#intro .plan .content .main .left .bg-dot {
  margin-top: 5px; 
  background: url('../image/bg-dot.jpg'); 
  background-repeat: repeat; 
  position: absolute; 
  height: 80px; 
  width: 115px; 
  left: 0;
}

#intro .plan .content .main .left .khoihanh {
  margin-top: 100px; 
  font-family: RobotoMno; 
  font-size: 26px; 
  width: 60px;
}

#intro .plan .content .main .right {
  display: inline-block; 
  height: 187px; 
  position: absolute; 
  margin-left: 20px; 
  font-family: RobotoMono; 
  font-size: 22px;
}

#intro .plan .content .main .right .info {
  background-color: #231f20; 
  width: 249px; 
  height: 33px; 
  color: #fff; 
  margin-top: 30px; 
  display: inline-block;
  padding-top: 3px;
}

#intro .plan .content .main .right .info img {
  margin-left: 10px;
}

#intro .plan .content .main .right .barcode {
  display: inline-block; 
  position: relative; 
  top: 12px; 
  left: 90px;
}

#intro .plan .content .main .right .timer {
  font-family: Fold; 
  font-size: 19px; 
  margin: 33px 0 0 0;
}

#intro .plan .content .main .right .timing {
  font-family: Epicoff; 
  font-size: 90px;
}

#intro .plan .dash {
  background: url('../image/bg-dashed.jpg'); 
  /*border-top: 2px #000 dashed; */
  height: 2px;
  background-repeat:repeat-x; 
  margin-top: 30px;
}

#intro .plan .bottom {
  background: url('../image/zizac-solid.jpg'); 
  background-repeat: 
  repeat-x; 
  width: 100%;
  height: 24px; 
  position: relative; 
  top: 10px;
}

.cutter {
  width: 100%;
  height: 50px;
  margin-top: 18px;
  background: url('../image/bg-dot.jpg');
  background-repeat: repeat;
}

.introduce {
  margin-top: 23px;
  width: 100%;
}

.introduce:after {
  content: "";
  display: block;
  clear: both;
}

.intro-content {
  width: 795px;
  height: 438px;
  float: left;
  font-family: SanfranciscoDisplay-Bold;
  /*font-weight: bold;*/
  font-size: 30px;
}

.intro-content .title {
  font-family: RobotoMono;
  font-size: 80px;
  color: #fff;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.intro-content .title img {
  margin-left: 27px;
}

.intro-aside {
  width: 215px;
  height: 430px;
  border-top: 8px #fad123 solid;
  float: right;
  background-color: #222222;
  font-family: RobotoMono;
  font-size: 22px;
  color: #fff;
  text-align: right;
  padding-right: 30px;
  position: relative;
}

.intro-aside .tem {
  content: "";
  width: 37px;
  height: 40px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  clip-path: polygon(0 100%, 0% 0, 0% 0%, 100% 100%);
}

.intro-aside img {
  margin-left: 20px;
  margin-top: 27px;
}

#photo-of-day {
  margin: auto;
  margin-top: 87px;
  font-family: RobotoMono;
  position: relative;
}

#photo-of-day .title {
  font-size: 46px;
  position: absolute;
  top: 40px;
  left: 165px;
  color: #fff;
}

#photo-of-day .desc {
  font-size: 22px;
  position: absolute;
  color: #fff;
  bottom: 20px;
  left: 165px;
}

#photo-of-day .desc img {
  vertical-align: middle;
}

#photo-of-day .logo {
  position: absolute;
  bottom: 30px;
  right: 95px;
}

#on-the-road {
  margin: auto;
  margin-top: 108px;
  width: 1195px;
  height: 744px;
  text-align: center;
  font-family: Fold;
  font-size: 30px;
  position: relative;
}

#on-the-road .head {
  font-family: RobotoMono;
  font-size: 80px;
  color: #fff;
  margin: auto;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0 2px #f2f2f2;
}

#on-the-road .source1 {
  margin-top: 35px;
  text-align: left;
  float: left;
  height: 270px;
}

#on-the-road .source1 .content {
  margin-top: 15px;
  padding: 20px 20px 10px 20px;
  width: 230px;
  background-color: #222222;
  font-family: Arial;
  font-size: 14px;
  color: #bbbbbb;
  position: relative;
}

#on-the-road .source1 .content .text {
  display: inline-block;
  width: 112px;
}


#on-the-road .source1 .content .icon {
  margin-top: 0;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: 20px;
}

#on-the-road .source1 .content .arr {
  display: block;
  position: relative;
  left: 198px;
}


#on-the-road .source1 .icon {
  margin-top: 53px;
  margin-left: 104px;
}

#on-the-road .source2 {
  float: left;
  margin-left: 60px;
  text-align: left;
}

#on-the-road .source2 .board {
  margin-left: 96px;
  margin-bottom: 20px;
  margin-top: 40px;
}

#on-the-road .source2 .compass {
  margin-top: 65px;
  margin-left: 50px;
}

#on-the-road .source3 {
  float: left;
  margin-left: 41px;
}

#on-the-road .source3 .text {
  width: 105px;
  height: 130px;
  font-family: Arial;
  font-size: 14px;
  color: #bbbbbb;
  text-align: left;
  position: relative;
  left: 75px;
  bottom: 322px;
}

#on-the-road .source3 .worldwide {
  font-size: 60px;
  position: relative;
  left: 30px;
  bottom: 455px;
}

#on-the-road .line1 {
  width: 200px;
  height: 2px;
  background: url('../image/bg-dashed-gray.png');
  background-repeat: repeat-x;
  position: absolute;
  left: 270px;
  top: 222px;
}

#on-the-road .line2 {
  width: 178px;
  height: 2px;
  background: url('../image/bg-dashed-gray.png');
  background-repeat: repeat-x;
  position: absolute;
  top: 222px;
  right: 449px;
}

#on-the-road .line3 {
  width: 242px;
  height: 2px;
  background: url('../image/bg-dashed.jpg');
  background-repeat: repeat-x;
  position: absolute;
  left: 270px;
  top: 366px;
}

#on-the-road .line4 {
  width: 247px;
  height: 2px;
  background: url('../image/bg-dashed.jpg');
  background-repeat: repeat-x;
  position: absolute;
  top: 560px;
  right: 300px;
}

#on-the-road .line5 {
  width: 2px;
  height: 60px;
  background: url('../image/bg-dashed-ver-black.png');
  background-repeat: repeat-y;
  position: absolute;
  top: 366px;
  left: 512px;
}

#on-the-road .line6 {
  width: 2px;
  height: 99px;
  background: url('../image/bg-dashed-ver-black.png');
  background-repeat: repeat-y;
  position: absolute;
  top: 463px;
  right: 298px;
}

#submission {
  margin: auto;
  width: 1050px;
  height: 1575px;
  font-family: RobotoMono;
}

#submission .head {
  width: 1040px;
  height: 206px;
  border-top: 4px #000 solid;
  border-bottom: 1px #d5d5d5 solid;
  margin-left: 10px;
}

#submission .head .above {
  font-family: Epicoff;
  font-size: 160px;
}

#submission .head .above .counting {
  display: inline-block;
}

#submission .head .above .counting img {
  vertical-align: top;
  margin-top: 15px;
  margin-left: 15px;
}

#submission .head .above .leaf-left {
  position: relative;
  left: 102px;
}

#submission .head .above .leaf-right {
  position: relative;
  left: 67px;
}

#submission .head .below {
  font-size: 32px;
  margin-top: -20px;
  font-weight: bold;
}

#submission .head .below .below-left {
  display: inline-block;
  margin-left: 595px;
}

#submission .head .below .below-right {
  display: inline-block;
  margin-left: 10px;
}

/*#submission .content:after {
  content: "";
  display: block;
  clear: both;
}*/

#submission .content .top:after {
  content: "";
  display: block;
  clear: both;
}

#submission .content .top {
  font-family: SanFranciscoDisplay-Bold;
  font-size: 16px;
  /*font-weight: bold;*/
  text-transform: uppercase;
  margin-top: 23px;
  margin-bottom: 20px;
}

#submission .content .top .newest {
  color: #fff;
  width: 108px;
  height: 26px;
  margin-left: 10px;
  padding-top: 8px;
  float: left;
  background-color: #000;
  text-align: center;
}

#submission .content .top .topvote {
  width: 104px;
  height: 24px;
  padding-top: 6px;
  float: left;
  background-color: #fff;
  text-align: center;
  border: 2px #000 solid;
}

#submission .content .top .viewall {
  color: #fff;
  width: 330px;
  height: 26px;
  padding-top: 8px;
  padding: 8px 10px 0 12px;
  float: right;
  background-color: #0078c6;
}

#submission .content .top .viewall img {
  vertical-align: top;
  float: right;
  clear: both;
}

#submission .content ul {
  list-style: none;
  display: inline-block;
}

#submission .content ul li {
  display: inline-block;
  height: 360px;
  /*width: 317px;*/
  margin-bottom: 50px;
}

#submission .content ul li .content {
  padding: 7px 0 0 7px;
  border: 2px #000 solid;
  width: 318px;
}

#submission .content ul li .content .text img {
  float: right;
  margin: 62px 9px 0 0;
}

#submission .content ul li .content .text {
  height: 126px;
  font-size: 18px;
  background-color: #efefef;
  border-top: 1px #000 solid;
  border-left: 1px #000 solid;
  padding: 15px 0 0 13px;
}

#submission .content ul .item-top {
  /*width: 677px;*/
}

#submission .content ul .item-top .content {
  width: 677px;
}

#submission .content ul .item-top .content .text {
  height: 100px;
}

#submission .content ul .item-top .content .text img {
  margin: 60px 9px 0 0;
}

#submission .content ul li .vote {
  height: 26px;
  width: 108px;
  padding: 11px 0 13px 12px;
  position: relative;
  display: inline-block;
  font-family: Epicoff;
  font-size: 36px;
  color: #fff;
  background-color: #000;
  left: 10px;
  bottom: 20px;
}

#submission .content ul li .vote div {
  height: 18px;
  width: 43px;
  padding: 4px 0 0 7px; 
  background-color: #0078c6;
  display: inline-block;
  font-family: SanFranciscoDisplay-Bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  transform: rotate(90deg) translate(-45px, -72px);
}

#submission .content ul li .author {
  padding: 4px;
  float: right;
  background-color: #0078c6;
  font-family: SanFranciscoDisplay-Bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}

#submission .paging ul {
  list-style: none;
  margin-left: 9px;
  font-family: SanFranciscoDisplay-Bold;
  font-size: 22px;
}

#submission .paging ul li {
  display: inline-block;
  border: 1px #000 solid;
  text-align: center;
  padding-top: 9px;
  height: 35px;
  width: 46px;
}

#submission .paging ul .selected {
  background-color: #0078c6;
  color: #fff;
}

#submission .paging ul .next {
  background-color: #0078c6;
}

#submission .paging ul .next img {
  vertical-align: top;
}

#ads-middle {
  height: 419px;
  margin: auto;
  width: 100%;
  background-color: #800;
  background: url('../image/bg-book-HWG.png') no-repeat center;
  font-family: SanFranciscoDisplay-Bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

#ads-middle .logo {
  position: relative;
  top: 155px;
}

#ads-middle .text {
  position: relative;
  display: inline-block;
  width: 368px;
  top: 116px;
}

#ads-middle .text .name {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 39px;
}

#ads-middle .interact {
  width: 215px;
  display: inline-block;
  position: relative;
  top: 116px;
}

#ads-middle .interact .price {
  font-family: Dense;
  font-size: 75px;
  text-transform: lowercase;
  font-weight: bold;
}

#ads-middle .interact button {
  border: 0px #000 solid;
  font-family: SanFranciscoDisplay-Bold;
  font-size: 20px;
  width: 215px;
  height: 45px;
  border-radius: 3px;
}

#ads-middle .interact .preview {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}

#ads-middle .interact .booking {
  background-color: rgba(241, 88, 53, 0.8);
  color: #fff;
  margin-top: 12px;
}

#ads-middle .book {
  position: absolute;
  right: 104px;
}

#news {
  margin: auto;
  width: 1040px;
  height: 1068px;
  background-color: #880;
}

#qna {
  margin: auto;
  width: 1040px;
  height: 476px;
  background-color: #888;
}

#footer {
  margin: auto;
  width: 100%;
  height: 138px;
  background-color: #f00;
}
